<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Adicionar Produto</title>
</head>
<body>
    <h2>Adicionar produto</h2>
    <form action="" method="post">
      <label for="nome">Nome: </label>
      <input type="text" name="nome" id="nome">
      <br><br>
      <label for="qtd">Quantidade: </label>
      <input type="text" name="qtd" id="qtd">
      <br><br>
      <input type="submit" name="cadastrar" value="Cadastrar">
    </form>
</body>
</html>